<html>
    <body>
        <table>
            <tr>
                <td>Product name:</td>
                    <td><input type="text" [ngModel]="productName" (ngModelChange)="checkProductName($event)"></td>
                </tr>
            <tr>
                <td>Quantity:</td>
                <td><div><input type="number" [ngModel]="productQuantity" (ngModelChange)="checkAddQuantity($event)"></div></td>
            </tr>
        </table>
        <br>
        <br>
        <input type="submit" value="Submit" (click)="onSubmit()">

    </body>
</html>
