<html>
  <body>
  <table>
  <tr>
    <th>Product Name</th> 
    <th>Available Quantity</th>
  </tr>
  <tr>
      <td>{{product.productName}}</td>
      <td >{{product.productQuantity}}</td>
    </tr>
</table>
<br>
<br>
<br>
<br> 
  <table>
    <tr>
      <th>Product Name</th>
      <th>{{product.productName}}</th>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><div><input type="number" [ngModel]="orderedQuantity" (ngModelChange)="checkOrderedQuantity($event)"></div></td>     
    </tr>
    </table>
    <br>
    <br>
    <input type="submit" value="Order" (click)="onSubmit()">
</body>
</html> 

