<html>
  <head><title>Product List</title>
  </head>
  <body>
  
  <table mat-table matSort>
  <tr>
    <th mat-header-cell>Product Name</th>
    <th mat-header-cell>Available Quantity</th>
  </tr>
  <tr *ngFor="let product of listOfProducts;">
      <td mat-cell>{{product.productName}}</td>
      <td mat-cell>{{product.productQuantity}}</td>
      <td mat-cell><input type="submit" value="Order" [routerLink]="['/order-products',product.productId]"></td>
      <td mat-cell><input type="submit" value="Update" [routerLink]="['/update-product',product.productId]"></td>
      <td mat-cell>
      <input type="submit" value="Delete" (click)="onDelete(product.productId)"></td>  
  </tr>
</table>
</body>
</html>