<html>
  <head><title>Product List</title>

  </head>
  <body>
  
  <table>
  <tr>
    <th>Product Name</th>
    <th>Available Quantity</th>

  </tr>
  <tr *ngFor="let product of listOfProducts;">
    <ng-template [ngIf]="product.productName!==null && product.productName !=='' &&product.productQuantity>=1">
      <td>{{product.productName}}</td>
      <td>{{product.productQuantity}}</td>
      <td><a [routerLink]="['/order-products',product.productId]">Order</a></td>
    </ng-template>
    
  </tr>
  
</table>

  </body>
</html>